<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ets.gd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ets_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Other.BaseActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/customer_searchable" />
        </activity>
        <activity
            android:name=".FireBug.Scan.CommonFirebugScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireBug.RouteInspection.RouteInspectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireBug.Scan.BarcodeScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireBug.ViewInformation.ViewAssetInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireBug.ViewInformation.ViewLocationInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireBug.Move.LocationSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireBug.Move.SelectLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireBug.Customer.CustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireBug.UnitInspection.UnitInspectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireBug.UnitInspection.SelectAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireBug.UnitInspection.ReplaceAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireBug.UnitInspection.RepairAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireBug.RouteInspection.RouteLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Sync.DeviceRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Sync.FirstTimeSyncActicity"
            android:screenOrientation="portrait" />
        <activity android:name=".FireBug.RouteInspection.RouteAssetActivity" />
        <activity android:name=".FireBug.RouteInspection.RouteAssetInspectionActivity" />
        <activity android:name=".ToolHawk.EquipmentInfo.EquipmentInfoActivity" />
        <activity android:name=".ToolHawk.Activities.CommonToolhawkScanActivity" />
        <activity android:name=".ToolHawk.Activities.CommonToolhawkDepartmentActivity" />
        <activity android:name=".ToolHawk.EquipmentInfo.ToolhawkLocationActivity" />
        <activity android:name=".ToolHawk.Maintenance.MaintenanceActivity" />
        <activity android:name=".ToolHawk.Move.MoveActivity" />
        <activity android:name=".ToolHawk.QuickCount.QuickCountActivity" />
        <activity android:name=".ToolHawk.Transfer.TransferActivity"></activity>
    </application>

</manifest>