<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ets.gd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Other.BaseActivity"
            android:label="@string/title_activity_dashboard">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/customer_searchable" />
        </activity>
        <activity android:name=".Activities.Scan.CommonFirebugScanActivity" />
        <activity android:name=".Activities.FireBug.RouteInspection.RouteInspectionActivity" />
        <activity android:name=".Activities.Scan.BarcodeScanActivity" />
        <activity android:name=".Activities.FireBug.ViewInformation.ViewAssetInformationActivity" />
        <activity android:name=".Activities.FireBug.ViewInformation.ViewLocationInformationActivity" />
        <activity android:name=".Activities.FireBug.Move.LocationSelectionActivity" />
        <activity android:name=".Activities.FireBug.Move.SelectLocationActivity" />
        <activity android:name=".Activities.Customer.CustomerActivity"></activity>
    </application>

</manifest>